.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxes {
  width: 1200px;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box h3 {
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 450px) {
  .box {
    width: 150px;
    height: 190px;
  }
  .box h3 {
    font-size: 1.1rem;
  }
}
